@model ProjetoDimDim.Models.Implantacao

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Implantacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusImplantacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusImplantacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersaoDocker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersaoDocker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoNuvem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoNuvem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projeto.ProjetoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ImplantacaoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
