@model IEnumerable<ProjetoDimDim.Models.Implantacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Página Principal</h1>

<p>
    <a asp-action="Create">Criar nova implantação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusImplantacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VersaoDocker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicoNuvem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projeto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusImplantacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VersaoDocker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicoNuvem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projeto.ProjetoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImplantacaoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ImplantacaoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ImplantacaoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
